@model ComicsCSharp.ViewModels.AddComicViewModel
<h2>Add Comics</h2>

<div asp-validation-summary="All"></div>

<form method="post" action="/Comics/add">
    <label asp-for="IssueNumber"></label> <input asp-for="IssueNumber"/>
    <label asp-for="Title"></label> <input asp-for="Title"/>
    <select asp-for="Grade" asp-items="Model.SelectItems">
        <option value="">*select one*</option>
    </select>
    
    <button>Add</button>
</form>
