<h2>Add Comics</h2>

<form method="post" action="/Comics/add">
    <label>Issue # <input type="number" size="3" name="issueNumber" /></label>
    <label>Title <input type="text" name="title" /></label>
    <button>Add</button>
</form>
