<h2>Comics</h2>
<form method="post" action="/Comics/remove">
    <ul>
        @foreach (Comic comic in ViewBag.comics)
        {
            <li>
                @comic.Title - @comic.IssueNumber
                <input type="checkbox" name="removedComics" value="@comic.ComicId"/>
            </li>
        }
    </ul>
    <button>Remove</button>
</form>
