<h2>Comics</h2>

<ul>
    @foreach (Comic comic in ViewBag.comics)
    {
        <li>@comic.Title - @comic.IssueNumber</li>
    }
</ul>

<form method="post" action="/Comics/add">
    <label>Issue # <input type="number" size="3" name="issueNumber"/></label>
    <label>Title <input type="text" name="title" /></label>
    <button>Add</button>
</form>
